<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Internal Messaging</h2>
            <h3 class="oe_slogan">Send private messages to specified recipients, regardless of who are in followers list.</h3>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
      <div class="oe_span12">
        <p class="oe_mt32">
          By default, to send a private message to specific recipient(s) you need to delete other followers included to the same document. The module allows to send private messages to recipients you specified, regardless of who are in the followers list.
		</p>
		<p>
		  It simplify internal communication in leads, when you need to send some private messages to your colleagues before reply to customer.
It helps in records like project tasks too. In a task with many participants, you can easily send message and only specified colleagues will be notified. It allows to have clean inbox for everybody. It's very essential, because people often neglect important message in Inbox full of useless messages.
		</p>
	  </div>
	</div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<div class="oe_span12">
	  <h3 class="oe_slogan">How it works</h3>
	  <p class="oe_mt32">
		Click on the "Send internal message" and choose the recipient(s). Then type any message and click on the "Send" button.
	  </p>
      <div class="oe_demo oe_picture oe_screenshot">
        <img src="check_recipients.png"/>
      </div>
    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
      <div class="oe_span12">
        <p class="oe_mt32">
          As a result you can see the message with a dark background, which is sent to the corresponding recipient(s). Other followers of the document will not receive your message.
		</p>
        <div class="oe_demo oe_picture oe_screenshot">
          <img src="result_message.png"/>
        </div>
      </div>
    </div>
</section>


<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2>Need our service?</h2>
      <p class="oe_mt32">Contact us by <a href="mailto:apps@it-projects.info">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
      <ul>
        <li><a href="mailto:apps@it-projects.info">apps@it-projects.info <i class="fa fa-envelope-o"></i></a></li>
        <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
      </ul>
    </div>
  </div>
</section>
