<div class="container">
            <div class="oe_styling_v8">
        <section class="oe_container">
          <div class="oe_row oe_spaced">
            <h2 class="oe_slogan" style="color:#875A7B;">No tickets without Email</h2>
            <h3 class="oe_slogan">User registration at your portal is always a plus for marketing!</h3>
          </div>
        </section>

        <section class="oe_container oe_dark">
            <div class="oe_row oe_spaced">
            <h4 class="oe_slogan"><b>User is not able to get tickets until is logged in</b></h4>

          <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="events-custom-fields-11.png">
          </div>
           </div>
        </section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Want to take a look?</h2>
            <p class="oe_mt32">For a live demostration click <em>LIVE PREVIEW</em> button above (near to <em><i class="fa fa-shopping-cart"></i> Add to Cart</em>) </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:apps@it-projects.info">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
            <ul>
                <li><a href="mailto:apps@it-projects.info">apps@it-projects.info <i class="fa fa-envelope-o"></i></a></li>
                <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
            </ul>
        </div>
        <div class="oe_span4">
            <div class="stamp" style="width:200px;">
                <div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(-6deg);
                            -o-transform: rotate(-6deg);
                            -moz-transform: rotate(-6deg);
                            -ms-transform: rotate(-6deg);">
                    Tested on Odoo<br/>10.0 community
                </div>
                <!--<div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(9deg);
                            -o-transform: rotate(9deg);
                            -moz-transform: rotate(9deg);
                            -ms-transform: rotate(9deg);">
                    Tested on Odoo<br/>10.0 enterprise
                </div>-->
            </div>
        </div>
    </div>
</section>



            </div>

        </div>
