<div class="container">
            <div class="oe_styling_v8">
        <section class="oe_container">
          <div class="oe_row oe_spaced">
            <h2 class="oe_slogan" style="color:#875A7B;">Event guest Custom Field</h2>
            <h3 class="oe_slogan">Do you need more information about attendees than three default fields (name, email, phone)?</h3>
          </div>
          <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="events-custom-fields-61.png">
          </div>
        </section>

        <section class="oe_container">
          <div class="oe_row oe_spaced">
          <div class="oe_span12">
            <div class="alert alert-warning" style="padding:4px;font-weight: 300; font-size: 20px;">
            <p>
               By default Event module asks only three fields to fill about attendees (name, email, phone). This module allows to customize any set of fields (address, gender, age, preferences, credit card number, favorite dog's name, etc.)
            </p>
            <p class="oe_mt32">
              Odoo allows you to easily create new events, and this module allows you to collect as much information about the participants of the event as you need.
            </p>
            </div>
          </div>
          </div>
        </section>

        <section class="oe_container">
          <div class="oe_row oe_spaced">
          <div class="oe_span12">
            <p class="oe_mt32">
            </p><div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
              <i class="fa fa-hand-o-right"></i><b> Additional features: </b>
              <ul class="list-unstyled">
                <li>
                <i class="fa fa-check-square-o text-primary"></i>
                Autocomplete fields when registering an authenticated user
                </li>
                <li>
                <i class="fa fa-check-square-o text-primary"></i>
                Styling the registration form with a large number of fields
                </li>
                <li>
                <i class="fa fa-check-square-o text-primary"></i>
                Warning of re-registration
                </li>
                <li>
                <i class="fa fa-check-square-o text-primary"></i>
                No need to fill known information of existing partners (just email is needed)
                </li>
              </ul>
            </div>

          </div>
          </div>
        </section>

        <section class="oe_container oe_dark">
          <div class="oe_row oe_spaced">
          <h3 class="oe_slogan">How It Works</h3>
          <h5 class="oe_slogan" style="font-size:16px;">
                You can install this module in a <a title="How to install/update module" href="https://odoo-development.readthedocs.io/en/latest/odoo/usage/install-module.html">usual way</a>. After installation you need to configure each Event. Otherwise there will be no fields at website attendees form.
          </h5>
          <div class="oe_span12 text-center">
            <p class="oe_mt32">
            <font size="3px">Go to <em>Events menu &rarr; Create new Event</em> menu and add Event.<font>
            </font></font></p>
          </div>
          <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="events-custom-fields-3.png">
          </div>
           </div>
        </section>

        <section class="oe_container">
          <div class="oe_row oe_spaced">
          <div class="oe_span12 text-center">
            <p class="oe_mt32">
            <font size="3px">On the site, open the page Events, select the desired Event, specify the number of tickets and click Order Now
            </font>
            </p>
          </div>
          <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="events-custom-fields-4.png">
          </div>
           </div>
        </section>

        <section class="oe_container oe_dark">
          <div class="oe_row oe_spaced">
          <div class="oe_span12 text-center">
            <p class="oe_mt32">
            <font size="3px">As a result, you will see a form with the given fields. Fill in the information</font>
            </p>
          </div>
          <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="events-custom-fields-61.png">
          </div>
           </div>
        </section>

        <section class="oe_container">
          <div class="oe_row oe_spaced">
          <div class="oe_span12 text-center">
            <p class="oe_mt32">
            <font size="3px">Go back to backend. Open menu Events. Check new attendee(s) of the Event.
            </font>
            </p>
          </div>
          <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="events-custom-fields-7.png">
          </div>
           </div>
        </section>

        <section class="oe_container">
          <div class="oe_row oe_spaced">
          <div class="oe_span12 text-center">
            <p class="oe_mt32">
            <font size="3px">Go to the <em>Contacts</em> menu and you will see that the new members have been written to Contacts
            </font>
            </p>
          </div>
          <div class="oe_row_img oe_centered">
            <img class="oe_demo oe_picture oe_screenshot" src="events-custom-fields-81.png">
          </div>
           </div>
        </section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Want to take a look?</h2>
            <p class="oe_mt32">For a live demostration click <em>LIVE PREVIEW</em> button above (near to <em><i class="fa fa-shopping-cart"></i> Add to Cart</em>) </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:apps@it-projects.info">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
            <ul>
                <li><a href="mailto:apps@it-projects.info">apps@it-projects.info <i class="fa fa-envelope-o"></i></a></li>
                <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
            </ul>
        </div>
        <div class="oe_span4">
            <div class="stamp" style="width:200px;">
                <div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(-6deg);
                            -o-transform: rotate(-6deg);
                            -moz-transform: rotate(-6deg);
                            -ms-transform: rotate(-6deg);">
                    Tested on Odoo<br/>10.0 community
                </div>
                <!--<div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(9deg);
                            -o-transform: rotate(9deg);
                            -moz-transform: rotate(9deg);
                            -ms-transform: rotate(9deg);">
                    Tested on Odoo<br/>10.0 enterprise
                </div>-->
            </div>
        </div>
    </div>
</section>



            </div>

        </div>
