<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B;">Multi Ecommerce</h2>
        </div>
    </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">

    <div class="alert alert-info oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
      <i class="fa fa-hand-o-right"></i><b> Key features: </b>
      <ul class="list-unstyled">

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
          All features of <a href="https://apps.odoo.com/apps/modules/11.0/website_multi_company">Real Multi Website</a> module
        </li>

        <li>
        <i class="fa fa-check-square-o text-primary"></i>
           Each eCommerce has configurable list of product categories
        </li>
        <li>
        <i class="fa fa-check-square-o text-primary"></i>
           eCommerce carts are separate per each company to avoid accounting problems
        </li>
        <li>
        <i class="fa fa-check-square-o text-primary"></i>
           The same product can be available on several websites (shops)
        </li>

      </ul>
    </div>

    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:apps@it-projects.info">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
            <ul>
                <li><a href="mailto:apps@it-projects.info">apps@it-projects.info <i class="fa fa-envelope-o"></i></a></li>
                <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
            </ul>
        </div>
        <div class="oe_span4">
            <div class="stamp" style="width:200px;">
                <div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(7deg);
                            -o-transform: rotate(7deg);
                            -moz-transform: rotate(7deg);
                            -ms-transform: rotate(7deg);">
                    Tested on Odoo<br/>10.0 community
                </div>
                <!--<div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(-3deg);
                            -o-transform: rotate(-3deg);
                            -moz-transform: rotate(-3deg);
                            -ms-transform: rotate(-3deg);">
                    Tested on Odoo<br/>10.0 enterprise
                </div>-->
            </div>
        </div>
    </div>
</section>

