<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B;">Multi Website Blog</h2>
            <h3 class="oe_slogan">Blocks an access to a website blog from websites which have not been specified as allowed for this blog</h3>
        </div>
    </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <div class="alert alert-info oe_mt32" style="padding:0.3em 0.6em; font-size: 150%;">
		<i class="fa fa-hand-o-right"></i><b>Key Features:</b>
		<ul class="list-unstyled">
          <li>
			<i class="fa fa-check-square-o text-primary"></i>
			All features from <a href="https://apps.odoo.com/apps/modules/11.0/website_multi_company">Real Multi Website</a> module
          </li>
          <li>
			<i class="fa fa-check-square-o text-primary"></i>
			Blocks an access to a website blog from not allowed websites
          </li>
		</ul>
      </div>
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
	<h3 class="oe_slogan">How It Works</h3>
    <div class="oe_span12 text-center">
      <p class="oe_mt32">
 		<font style="font-size: 120%;">Let's say we have 2 websites:
		  <ul>
			<li><b>example1.com</b></li>
			<li><b>example2.com</b></li>
		  </ul>
		  Go to <em>Website &rarr; Blog &rarr; Blogs</em> menu and select at <b>Allowed Websites</b> the websites, where your blog should be available on, e.g. <b>example1.com</b>.
		</font>
      </p>		
    </div>
    <div class="oe_screenshot" align="center">
      <img style="max-width: 80%" src="blog_allowed_websites.png"/>
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12 text-center">
      <p class="oe_mt32">
 		<font style="font-size: 120%;">Open <em>Website &rarr; Configuration  &rarr; Menus</em> and be sure that you have blog menu for one of your website at least, otherwise create a new one</font>
      </p>		
    </div>
    <div class="oe_screenshot" align="center">
      <img style="max-width: 80%" src="blog_menu.png"/>
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12 text-center">
      <p class="oe_mt32">
 		<font style="font-size: 120%;">
		  Then open the blog on website like <b>http://example1.com/blog/1</b>. It's opened correctly. But if you try to open the same blog url from another website <b>http://example2.com/blog/1</b>, you will see access error <em>"403: Forbidden"</em>
		</font>
      </p>		
    </div>
    <div class="oe_screenshot" align="center">
      <img style="max-width: 80%" src="access_error.png"/>
    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:apps@it-projects.info">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
            <ul>
                <li><a href="mailto:apps@it-projects.info">apps@it-projects.info <i class="fa fa-envelope-o"></i></a></li>
                <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
            </ul>
        </div>
        <div class="oe_span4">
            <div class="stamp" style="width:200px;">
                <div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(-1deg);
                            -o-transform: rotate(-1deg);
                            -moz-transform: rotate(-1deg);
                            -ms-transform: rotate(-1deg);">
                    Tested on Odoo<br/>10.0 community
                </div>
                <div style="margin-top: 15px;
                            position: relative;
                            font-family:'Vollkorn', serif;
                            font-size: 16px;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: #75526b;
                            border: 3px dashed #75526b;
                            float: left;
                            padding: 4px 12px;
                            -webkit-transform: rotate(6deg);
                            -o-transform: rotate(6deg);
                            -moz-transform: rotate(6deg);
                            -ms-transform: rotate(6deg);">
                    Tested on Odoo<br/>10.0 enterprise
                </div>
            </div>
        </div>
    </div>
</section>
